/**********
VARIABLES
***********/

:root {
  /* GLOBAL */
  --max-width: 1000px;

  /* PADDING */
  --padding-extra-small: 0.5rem;
  --padding-small: 0.8rem;
  --padding-standard: 1rem;

  /* MARGIN */
  --margin-extra-small: 0.5rem;
  --margin-small: 0.8rem;
  --margin-standard: 1rem;
  --margin-double: 2rem;

  /* COLOURS */
  --dark-blue: #001c54;
  --white: #ffffff;
  --beige: #eae2b7;
  --dark-red: #d62828;

  /* FONT SIZES */
  --font-size-standard: 1rem;
  --font-size-large: 1.4rem;
  --font-size-extra-large: 1.5rem;

  /* LINE HEIGHTS */
  --line-height-basic: 1rem;
  --line-height-standard: 1.15rem;
  --line-height-large: 1.2rem;
}

/************
MAIN SECTIONS
*************/

.main-header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/************
SECTIONS
*************/

.profile-section {
  width: 95%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--padding-standard);
}

/************
HEADER
*************/

.main-header {
  height: 100vh;
  background: var(--beige);
}

/************
NAVBAR
*************/

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--dark-blue);
  width: 100%;
  padding: var(--padding-small) var(--padding-standard);
  z-index: 10;
  position: fixed;
}

.menu {
  display: flex;
  height: 100%;
}

.menu-item {
  width: fit-content;
  height: 100%;
  margin: 0 var(--margin-extra-small);
}

.menu-item a {
  text-align: center;
  color: var(--white);
  line-height: var(--line-height-large);
  padding: var(--padding-small) var(--padding-standard);
  margin: 0;
  width: 100%;
  height: 100%;
  transition: background 300ms;
}

.menu-item a:hover {
  background: var(--dark-red);
}

/************
ABOUT ME
*************/

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#profile p,
#profile h1 {
  text-align: center;
}

#profile p {
  font-size: var(--font-size-large);
  color: var(--dark-blue);
}

.profile {
  width: 50%;
  min-width: 100px;
  max-width: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.profile img {
  width: 100%;
  min-width: 100px;
  max-width: 150px;
}

/************
PROJECTS
*************/

.projects {
  width: 100%;
  margin-top: var(--margin-standard);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-small);
}

.project {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 400px;
  overflow: hidden;
  transition: opacity 150ms;
}

.project:hover {
  opacity: 80%;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project a {
  width: 100%;
  height: 100%;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 70%;
  font-size: var(--font-size-extra-large);
  background-color: var(--white);
  text-align: center;
  line-height: var(--line-height-basic);
  padding: var(--padding-standard) 0;
  font-weight: 900;
}

@media screen and (min-width: 769px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(auto, 300px) auto auto;
    /* gap: 1rem; */
  }

  #first-project {
    grid-column: 1 / span 2;
    max-width: 100%;
    max-height: 100%;
    align-self: flex-end;
  }

  #first-project img {
    width: 100%;
    max-height: 100%;
    height: 100%;
  }
}

/************
CONTACT
*************/

#contact h2,
#contact p {
  text-align: center;
  margin: var(--margin-standard) 0;
}

#contact p {
  font-size: var(--font-size-extra-large);
}

.contact-options {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.contact-options li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--margin-standard) var(--margin-double);
  transition: transform 100ms;
}

.contact-options li:hover {
  transform: scale(1.2);
}

.contact-options li span {
  font-size: var(--margin-double);
}

.contact-text {
  margin-left: var(--margin-standard);
  font-weight: normal;
}

/************
FOOTER
*************/

footer {
  height: 4rem;
  background: var(--dark-blue);
  color: var(--white);
  justify-content: center;
}
