@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**********
VARIABLES
***********/

:root {
  /* GLOBAL */
  --max-width: 1280px;

  /* PADDING */
  --padding-extra-small: 0.5rem;
  --padding-small: 0.8rem;
  --padding-standard: 1rem;
  --padding-large: 1.2rem;
  --padding-extra-large: 1.5rem;

  /* MARGIN */
  --margin-extra-small: 0.5rem;
  --margin-small: 0.8rem;
  --margin-standard: 1rem;
  --margin-double: 2rem;

  /* COLOURS */
  --dark-blue: #001c54;
  --white: #ffffff;
  --beige: #eae2b7;
  --light-orange: #fdd587;
  --dark-red: #d62828;
  --black: #000000;

  /* FONTS */
  --font-family-default: 'Roboto', sans-serif;

  /* FONT SIZES */
  --font-size-extra-small: 0.75rem;
  --font-size-small: 0.9rem;
  --font-size-standard: 1rem;
  --font-size-large: 1.2rem;
  --font-size-extra-large: 1.4rem;
  --font-size-jumbo: 1.6rem;

  /* LINE HEIGHTS */
  --line-height-basic: 1rem;
  --line-height-standard: 1.15rem;
  --line-height-large: 1.2rem;
}

/************
MAIN SECTIONS
*************/

.main-header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-default);
}

/************
SECTIONS
*************/

.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-section {
  width: 95%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/************
HEADER
*************/

.main-header {
  height: 100vh;
  background: var(--beige);
}

/************
NAVBAR
*************/

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--dark-blue);
  width: 100%;
  padding: var(--padding-small) var(--padding-standard);
  z-index: 10;
  position: fixed;
}

.menu {
  display: flex;
  height: 100%;
}

.menu-item {
  width: fit-content;
  height: 100%;
  margin: 0 var(--margin-extra-small);
}

.menu-item a {
  text-align: center;
  color: var(--white);
  line-height: var(--line-height-large);
  padding: var(--padding-small) var(--padding-standard);
  margin: 0;
  width: 100%;
  height: 100%;
  transition: background 300ms;
  font-size: var(--font-size-standard);
}

.menu-item a:hover {
  background: var(--dark-red);
}

/************
ABOUT ME
*************/

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#profile p,
#profile h1 {
  text-align: center;
  padding: 0 var(--padding-small);
}

#profile p {
  font-size: var(--font-size-jumbo);
  color: var(--dark-blue);
}

.profile {
  width: 50%;
  min-width: 100px;
  max-width: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.profile img {
  width: 100%;
  min-width: 100px;
  max-width: 150px;
}

/************
PROJECTS
*************/

.projects-section {
  background: var(--white);
}

.projects-section h2 {
  text-align: center;
}

.projects {
  width: 100%;
  padding: var(--margin-double) 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-small);
}

.project {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 400px;
  overflow: hidden;
  transition: all 150ms linear;
}

.project:hover {
  opacity: 80%;
}

.project article,
.project figure,
.project a {
  width: 100%;
  height: 100%;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--margin-standard);
  bottom: 0;
  width: 100%;
  opacity: 95%;
  font-size: var(--font-size-extra-large);
  background-color: var(--white);
  text-align: center;
  line-height: var(--line-height-basic);
  padding: var(--padding-extra-small) 0;
  font-weight: 900;
  transition: all 150ms linear;
}

.project:hover .description {
  background: var(--black);
  opacity: 100%;
  color: var(--white);
}

.description p {
  font-size: var(--font-size-small);
  font-weight: normal;
}

@media screen and (min-width: 769px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(auto, 300px) auto auto;
    gap: var(--padding-standard);
  }

  #first-project {
    grid-column: 1 / span 2;
    max-width: 100%;
    max-height: 100%;
    align-self: flex-end;
  }
}

@media screen and (min-width: 1025px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, 350px) auto;
    gap: var(--padding-large);
  }
}

@media screen and (min-width: 1281px) {
  .projects {
    gap: var(--padding-extra-large);
  }
}

/************
CONTACT
*************/

.contact-section {
  min-height: calc(50vh - 4rem);
  background: var(--beige);
}

.contact-section .profile-section {
  row-gap: 3rem;
}

#contact h2,
#contact p {
  text-align: center;
  margin: var(--margin-standard) 0;
}

#contact p {
  font-size: var(--font-size-jumbo);
}

.contact-options {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  row-gap: var(--margin-standard);
  justify-content: center;
  align-items: center;
}

.contact-options li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--margin-standard) var(--margin-double);
  transition: transform 100ms;
}

.contact-options li:hover {
  transform: scale(1.2);
}

.contact-options li span {
  font-size: var(--font-size-jumbo);
}

.contact-text {
  margin-left: var(--margin-standard);
  font-weight: normal;
  font-family: var(--font-family-default);
}

span {
  font-size: var(--font-size-small);
}

/************
FOOTER
*************/

footer {
  height: 4rem;
  background: var(--dark-blue);
  color: var(--white);
  justify-content: center;
}
